:root {
  --background: #ffffff;
  --foreground: #0e0e2c;
  --background-menu: #f9f9fd;
  --border-color: #ccd1f2;
  --primary-color: #011ac2;
  --muted-color: #8c8ca1;
  --bg-gray: #f9fafa;
  --banner-color: #e5e8f9;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
